.profile-container {
  margin: 2rem 0;
  
  @media (max-width: 719px) {
    flex-direction: column;
    
    .profile-photo {
      order: -1; // 在手机端将照片放在上方
    }
  }
}

.profile-photo img {
  border-radius: 15px;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.02);  // 添加简单的悬停效果
  }
}

// place your custom styles here
